body{
  width: 100%;
  margin:0;
  padding:0;
}
.home-app {
  display: flex;
  flex-direction: row;
  color: white;
}
.home-app article{
  height: 100vh;
  background: rgb(226, 217, 217);
}
.home-app article:nth-child(2n+1){
  background: rgb(200, 80, 80);
}
#home-aside{
  top: 15%;
  position: absolute;
  text-align: center;
}
#home-aside{
  position: absolute;
  z-index: 2;
}
#home-aside .p-left,#home-aside .p-right{
  z-index:2;
  font-size: 36px;
  font-weight: 800;
  position: absolute;
}
#home-aside .p-right{
  color:  rgba(200,80,80,1);
   right: 10%;
}
#home-aside .p-left{
  color: rgba(226,217,217,1);
  left: 10%;
}

.login{
  position: absolute;
  top: 30%;
  left: 42.5%;
  width: 15%;
  font-size: 1.5em;
  background: linear-gradient(90deg, rgba(226,217,217,1) 0%, rgba(200,80,80,1) 70%, rgba(200,80,80,1) 100%);
  border: none;
}
/***   background-color: #282c34;
*/

.switch{
  display: none;
}
nav{
  position: absolute;
  left: 0%;
  top: 10%;
  height: 80%;
  width: 5%;
  display: flex;
  flex-direction: column;
  background: grey;
  flex: 1;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
}
#menu-container{
  position: relative;
  top:10%;
  width: 80%;
  left:10%;
  height: 100%;
}
nav div{
  flex-direction: row;
  width: 100%;
  height: 30%;
  align-content: center;
  text-align: center;
  align-items: center;
}
nav div:nth-child(3){
  background:red;
}
li{
  list-style-type: none;
}
li i{
  font-size: 40px;
}